# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtualenv
.venv/

# Environment variables
.env

# PDF outputs or generated reports
*.pdf

# Ignore cache contents, but keep the folder
cache/*
!cache/.gitkeep

# OCR + menu image data
ocr_cache/* !ocr_cache/.gitkeep
backend/apps/concierge/readImages/*
!backend/apps/concierge/readImages/.gitkeep


backend/apps/concierge/ocr_cache/*
!backend/apps/concierge/ocr_cache/.gitkeep